In [3]:
#! pip install sqlalchemy

In [4]:
from sqlalchemy import MetaData, Table, create_engine, select, and_, or_, not_, text
from sqlalchemy.sql import func, distinct, exists

In [5]:
engine = create_engine('sqlite:///../Data/Students.db')
metadata_obj = MetaData() # Объект-контейнер, содержит информацию о схеме данных
metadata_obj.reflect(bind=engine) # Отображение БД

Создание объектов таблиц

In [6]:
exam_marks=Table("exam_marks", metadata_obj, autoload=True, autoload_with="engine")
lecturer=Table("lecturer", metadata_obj, autoload=True, autoload_with="engine")
student=Table("student", metadata_obj, autoload=True, autoload_with="engine")
subj_lect=Table("subj_lect", metadata_obj, autoload=True, autoload_with="engine")
subject=Table("subject", metadata_obj, autoload=True, autoload_with="engine")
university=Table("university", metadata_obj, autolad=True, autolad_with="engine")

In [7]:
conn=engine.connect() # Соединение

<img src=../Img/pencil.png style="width:190px;height:190px">
<p style="background-color:powderblue; font-size:125%; color: rebeccapurple;">Выполните задания</p>
<p>Выполните задания с помощью соедиинения таблиц в Jupyter Notebook </p>

1. Напишите запрос, который выполняет вывод фамилий студентов, сдавших экзамены, вместе с идентификаторами сданных ими предметов обучения. Отсортируйте результат по фамилии студента.

2. Напишите запрос, который выполняет выборку фамилий всех студентов, с указанием для студентов, сдававших экзамены, идентификаторов предметов обучения. Отсортируйте результат по фамилии студента.

3. Напишите запрос, который выполняет вывод фамилий студентов, сдавших экзамены, вместе с наименованиями каждого сданного ими предмета обучения. Отсортируйте результат по фамилии студента.

4. Напишите запрос на выдачу списка всех студентов. Для студентов, сдававших экзамены, укажите названия соответствующих предметов обучения. Отсортируйте результат по фамилии студента.

5. Напишите запрос на выдачу названий всех предметов, по которым студенты получили только хорошие (4 и 5) оценки. В выходных данных должны быть приведены фамилии студентов, названия предметов и оценка. Отсортируйте результат по фамилии студента.

6. Напишите запрос, который выполняет вывод списка университетов с рейтингом, превышающим 300, вместе со значением максимального размера стипендии, получаемой студентами в этих университетах. Результат должен содержать название университета, значение рейтинга, значение макисмальной стипендии. Отсортируйте по значению максимальной стипендии.

7. Напишите запрос на выдачу списка студентов (в алфавитном порядке фамилий) вместе со значением рейтинга университета, где каждый из них учится, включив в список и тех студентов, место учебы которых в базе данных не указано.

8. Напишите запрос для получения списка всех университетов вместе с фамилиями студентов, в них обучающихся. Отдельным запросом получите записи, расширяющие данный список по сравнению с тем, который был бы получен внутренним соединением. Выполните такой отдельный запрос двумя способами: с помощью оператора EXISTS() и без.

9. Напишите запрос для получения списка всех студентов вместе с названиями университетов, в которых они учатся. Отдельным запросом получите записи, расширяющие данный список по сравнению с тем, который был бы получен внутренним соединением.

10. Напишите запрос для получения списка всех университетов вместе с фамилиями преподавателей, в них работающих. Отдельным запросом получите записи, расширяющие данный список по сравнению с тем, который был бы получен внутренним соединением.

11. Напишите запрос для получения списка всех преподавателей вместе с университетами, в которых они работают. Есть ли отличие списка от того, который был бы получен внутренним соединением? Подтвердите отдельным запросом ваш вывод.

12. Напишите запрос для получения списка всех студентов и оценок, полученных ими на экзаменах. Отдельным запросом получите записи, расширяющие данный список по сравнению с тем, который был бы получен внутренним соединением.

13. Напишите запрос для получения списка всех экзаменационных оценок вместе с фамилиями получивших их студентов. Есть ли отличие списка от того, который был бы получен внутренним соединением? Подтвердите отдельным запросом ваш вывод.

14. Напишите запрос для получения полного списка предметов с соответствующими экзаменационными оценками. Есть ли отличие списка от того, который был бы получен внутренним соединением? Подтвердите отдельным запросом ваш вывод.

15. Напишите запрос для получения полного списка оценок вместе с названиями предметов, по которым они получены. Есть ли отличие списка от того, который был бы получен внутренним соединением? Подтвердите отдельным запросом ваш вывод.

In [12]:
def print_result(s):
    print(s, end = '\n\n')
    res = conn.execute(s).fetchall()
    print(len(res))
    return res

In [13]:
st = student.alias('st')
em = exam_marks.alias('em')
u = university.alias('u')
l = lecturer.alias('l')
sl = subj_lect.alias('sl')
su = subject.alias('su')

# Решение

In [14]:
#13. Напишите запрос для получения списка всех экзаменационных оценок вместе с фамилиями получивших их студентов. 
#Есть ли отличие списка от того, который был бы получен внутренним соединением? Подтвердите отдельным запросом ваш вывод.


s = select (em.c.mark, st.c.surname, st.c.name)
s = s.join_from(em, st, onclause = em.c.student_id == st.c.student_id)

print_result(s)

SELECT em.mark, st.surname, st.name
FROM exam_marks AS em JOIN student AS st ON em.student_id = st.student_id

47

[(1, 'Вишнякова', 'Анжела'),
 (4, 'Казакова', 'Мария'),
 (4, 'Жук', 'Оксана'),
 (1, 'Жуков', 'Пров'),
 (3, 'Кондрат', 'Синицин'),
 (4, 'Лазарев', 'Константин'),
 (1, 'Афанасьева', 'Анжелика'),
 (1, 'Федоров', 'Гостомысл'),
 (5, 'Блохина', 'Ираида'),
 (1, 'Суханов', 'Константин'),
 (2, 'Мельникова', 'Дарья'),
 (5, 'Жданова', 'Ирина'),
 (2, 'Мельникова', 'Дарья'),
 (1, 'Казакова', 'Мария'),
 (4, 'Семенова', 'Вероника'),
 (5, 'Мельникова', 'Светлана'),
 (5, 'Борисова', 'Марина'),
 (2, 'Калашников', 'Евгений'),
 (3, 'Васильев', 'Матвей'),
 (3, 'Петрова', 'Екатерина'),
 (2, 'Веселов', 'Тимур'),
 (3, 'Антонов', 'Анатолий'),
 (4, 'Костина', 'Кира'),
 (2, 'Калашников', 'Евгений'),
 (1, 'Мишина', 'Светлана'),
 (1, 'Сорокина', 'Ирина'),
 (5, 'Васильев', 'Матвей'),
 (5, 'Кузнецов', 'Борис'),
 (1, 'Иванов', 'Иван'),
 (5, 'Лапина', 'Элеонора'),
 (1, 'Одинцова', 'Лидия'),
 (1, 'Сергеева', 'Фёкла'),
 (2, 'Трофимов', 'Владислав'),
 (4, 'Котов', 'Павел'),
 (4, 'Сидоров', 'Вадим'),
 (5, 'Белкин', 'Вадим'),
 (2, 'Вячеслав', 'Пахомов'),
 (2, 'Ордуханян', 'Рафаэль'),
 (4, 'Лукин', 'Артем'),
 (5, 'Пак', 'Ирина'),
 (4, 'Пак', 'Ирина'),
 (3, 'Пак', 'Ирина'),
 (4, 'Мельникова', 'Светлана'),
 (3, 'Мельникова', 'Светлана'),
 (2, 'Зайцева', 'Ольга'),
 (5, 'Зайцева', 'Ольга'),
 (None, 'Белкин', 'Вадим')]

In [15]:
# 13 задание (внешнее соединение)


s = select (em.c.mark, st.c.surname, st.c.name)
s = s.outerjoin_from(em, st)

print_result(s)

SELECT em.mark, st.surname, st.name
FROM exam_marks AS em LEFT OUTER JOIN student AS st ON st.student_id = em.student_id

47

[(1, 'Вишнякова', 'Анжела'),
 (4, 'Казакова', 'Мария'),
 (4, 'Жук', 'Оксана'),
 (1, 'Жуков', 'Пров'),
 (3, 'Кондрат', 'Синицин'),
 (4, 'Лазарев', 'Константин'),
 (1, 'Афанасьева', 'Анжелика'),
 (1, 'Федоров', 'Гостомысл'),
 (5, 'Блохина', 'Ираида'),
 (1, 'Суханов', 'Константин'),
 (2, 'Мельникова', 'Дарья'),
 (5, 'Жданова', 'Ирина'),
 (2, 'Мельникова', 'Дарья'),
 (1, 'Казакова', 'Мария'),
 (4, 'Семенова', 'Вероника'),
 (5, 'Мельникова', 'Светлана'),
 (5, 'Борисова', 'Марина'),
 (2, 'Калашников', 'Евгений'),
 (3, 'Васильев', 'Матвей'),
 (3, 'Петрова', 'Екатерина'),
 (2, 'Веселов', 'Тимур'),
 (3, 'Антонов', 'Анатолий'),
 (4, 'Костина', 'Кира'),
 (2, 'Калашников', 'Евгений'),
 (1, 'Мишина', 'Светлана'),
 (1, 'Сорокина', 'Ирина'),
 (5, 'Васильев', 'Матвей'),
 (5, 'Кузнецов', 'Борис'),
 (1, 'Иванов', 'Иван'),
 (5, 'Лапина', 'Элеонора'),
 (1, 'Одинцова', 'Лидия'),
 (1, 'Сергеева', 'Фёкла'),
 (2, 'Трофимов', 'Владислав'),
 (4, 'Котов', 'Павел'),
 (4, 'Сидоров', 'Вадим'),
 (5, 'Белкин', 'Вадим'),
 (2, 'Вячеслав', 'Пахомов'),
 (2, 'Ордуханян', 'Рафаэль'),
 (4, 'Лукин', 'Артем'),
 (5, 'Пак', 'Ирина'),
 (4, 'Пак', 'Ирина'),
 (3, 'Пак', 'Ирина'),
 (4, 'Мельникова', 'Светлана'),
 (3, 'Мельникова', 'Светлана'),
 (2, 'Зайцева', 'Ольга'),
 (5, 'Зайцева', 'Ольга'),
 (None, 'Белкин', 'Вадим')]

In [16]:
#14. Напишите запрос для получения полного списка предметов с соответствующими экзаменационными оценками. 
#Есть ли отличие списка от того, который был бы получен внутренним соединением? Подтвердите отдельным запросом ваш вывод.


s = select(su.c.subj_name, em.c.mark)
s = s.join(em)

print_result(s)

SELECT su.subj_name, em.mark
FROM subject AS su JOIN exam_marks AS em ON su.subj_id = em.subj_id

47

[('Информатика', 1),
 ('Физкультура', 4),
 ('Физкультура', 4),
 ('История', 1),
 ('Информатика', 3),
 ('История', 4),
 ('Анализ данных', 1),
 ('Анализ данных', 1),
 ('Физика', 5),
 ('Физика', 1),
 ('История', 2),
 ('История', 5),
 ('Анализ данных', 2),
 ('ОБЖ', 1),
 ('Английский язык', 4),
 ('Информатика', 5),
 ('Английский язык', 5),
 ('Английский язык', 2),
 ('Физкультура', 3),
 ('Математика', 3),
 ('История', 2),
 ('Информатика', 3),
 ('Физика', 4),
 ('ОБЖ', 2),
 ('Анализ данных', 1),
 ('Физика', 1),
 ('ОБЖ', 5),
 ('Анализ данных', 5),
 ('Математика', 1),
 ('История', 5),
 ('Программирование на языках Python и SQL', 1),
 ('Физкультура', 1),
 ('Физика', 2),
 ('Информатика', 4),
 ('Физика', 4),
 ('Информатика', 5),
 ('ОБЖ', 2),
 ('Информатика', 2),
 ('Программирование на языках Python и SQL', 4),
 ('Программирование на языках Python и SQL', 5),
 ('Английский язык', 4),
 ('Физкультура', 3),
 ('Обработка данных и моделирование в Excel', 4),
 ('История', 3),
 ('Информатика', 2),
 ('Информатика', 5),
 ('Информатика', None)]

In [17]:
#14 задание (внешнее соединение)


s = select(su.c.subj_name, em.c.mark)
s = s.outerjoin_from(su, em)

print_result(s)

SELECT su.subj_name, em.mark
FROM subject AS su LEFT OUTER JOIN exam_marks AS em ON su.subj_id = em.subj_id

49

[('Анализ данных', 1),
 ('Анализ данных', 1),
 ('Анализ данных', 1),
 ('Анализ данных', 2),
 ('Анализ данных', 5),
 ('Английский язык', 2),
 ('Английский язык', 4),
 ('Английский язык', 4),
 ('Английский язык', 5),
 ('Информатика', None),
 ('Информатика', 1),
 ('Информатика', 2),
 ('Информатика', 2),
 ('Информатика', 3),
 ('Информатика', 3),
 ('Информатика', 4),
 ('Информатика', 5),
 ('Информатика', 5),
 ('Информатика', 5),
 ('История', 1),
 ('История', 2),
 ('История', 2),
 ('История', 3),
 ('История', 4),
 ('История', 5),
 ('История', 5),
 ('Математика', 1),
 ('Математика', 3),
 ('ОБЖ', 1),
 ('ОБЖ', 2),
 ('ОБЖ', 2),
 ('ОБЖ', 5),
 ('Обработка данных и моделирование в Excel', 4),
 ('Программирование на языках Python и SQL', 1),
 ('Программирование на языках Python и SQL', 4),
 ('Программирование на языках Python и SQL', 5),
 ('Теория вероятностей и математическая статистика', None),
 ('Физика', 1),
 ('Физика', 1),
 ('Физика', 2),
 ('Физика', 4),
 ('Физика', 4),
 ('Физика', 5),
 ('Физкультура', None),
 ('Физкультура', 1),
 ('Физкультура', 3),
 ('Физкультура', 3),
 ('Физкультура', 4),
 ('Физкультура', 4)]

In [18]:
#15. Напишите запрос для получения полного списка оценок вместе с названиями предметов, по которым они получены. 
#Есть ли отличие списка от того, который был бы получен внутренним соединением? Подтвердите отдельным запросом ваш вывод.


s = select(em.c.mark, su.c.subj_name)
s = s.join(su)

print_result(s)

SELECT em.mark, su.subj_name
FROM exam_marks AS em JOIN subject AS su ON su.subj_id = em.subj_id

47

[(1, 'Информатика'),
 (4, 'Физкультура'),
 (4, 'Физкультура'),
 (1, 'История'),
 (3, 'Информатика'),
 (4, 'История'),
 (1, 'Анализ данных'),
 (1, 'Анализ данных'),
 (5, 'Физика'),
 (1, 'Физика'),
 (2, 'История'),
 (5, 'История'),
 (2, 'Анализ данных'),
 (1, 'ОБЖ'),
 (4, 'Английский язык'),
 (5, 'Информатика'),
 (5, 'Английский язык'),
 (2, 'Английский язык'),
 (3, 'Физкультура'),
 (3, 'Математика'),
 (2, 'История'),
 (3, 'Информатика'),
 (4, 'Физика'),
 (2, 'ОБЖ'),
 (1, 'Анализ данных'),
 (1, 'Физика'),
 (5, 'ОБЖ'),
 (5, 'Анализ данных'),
 (1, 'Математика'),
 (5, 'История'),
 (1, 'Программирование на языках Python и SQL'),
 (1, 'Физкультура'),
 (2, 'Физика'),
 (4, 'Информатика'),
 (4, 'Физика'),
 (5, 'Информатика'),
 (2, 'ОБЖ'),
 (2, 'Информатика'),
 (4, 'Программирование на языках Python и SQL'),
 (5, 'Программирование на языках Python и SQL'),
 (4, 'Английский язык'),
 (3, 'Физкультура'),
 (4, 'Обработка данных и моделирование в Excel'),
 (3, 'История'),
 (2, 'Информатика'),
 (5, 'Информатика'),
 (None, 'Информатика')]

In [19]:
#15 задание (внешнее соединение)


s = select(em.c.mark, su.c.subj_name)
s = s.outerjoin_from(em, su)

print_result(s)

SELECT em.mark, su.subj_name
FROM exam_marks AS em LEFT OUTER JOIN subject AS su ON su.subj_id = em.subj_id

47

[(1, 'Информатика'),
 (4, 'Физкультура'),
 (4, 'Физкультура'),
 (1, 'История'),
 (3, 'Информатика'),
 (4, 'История'),
 (1, 'Анализ данных'),
 (1, 'Анализ данных'),
 (5, 'Физика'),
 (1, 'Физика'),
 (2, 'История'),
 (5, 'История'),
 (2, 'Анализ данных'),
 (1, 'ОБЖ'),
 (4, 'Английский язык'),
 (5, 'Информатика'),
 (5, 'Английский язык'),
 (2, 'Английский язык'),
 (3, 'Физкультура'),
 (3, 'Математика'),
 (2, 'История'),
 (3, 'Информатика'),
 (4, 'Физика'),
 (2, 'ОБЖ'),
 (1, 'Анализ данных'),
 (1, 'Физика'),
 (5, 'ОБЖ'),
 (5, 'Анализ данных'),
 (1, 'Математика'),
 (5, 'История'),
 (1, 'Программирование на языках Python и SQL'),
 (1, 'Физкультура'),
 (2, 'Физика'),
 (4, 'Информатика'),
 (4, 'Физика'),
 (5, 'Информатика'),
 (2, 'ОБЖ'),
 (2, 'Информатика'),
 (4, 'Программирование на языках Python и SQL'),
 (5, 'Программирование на языках Python и SQL'),
 (4, 'Английский язык'),
 (3, 'Физкультура'),
 (4, 'Обработка данных и моделирование в Excel'),
 (3, 'История'),
 (2, 'Информатика'),
 (5, 'Информатика'),
 (None, 'Информатика')]